_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

# Microsoft office files
*.doc
*.docx
*.emf

# Python
docx_to_markdown.py
images/2022-01-13-ACTM-UMD-progress-report1-media/convert_to_png.py
_posts/convert_to_png.py
